.teamregistrationDiv {
    width: 70%;
}

.something {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    
}

.playerH {
    padding-top: 30px;
}

@media (max-width: 768px) {
    .teamregistrationDiv {
        width: 100%;
        padding-bottom: 200px;
    }
}