.standingsDiv {
    width: 70%;
    margin-top: 2%;
    /* display: flex; */
}

.standings {
    background: white;
    color: black;
    margin: 7px;
    display: flex;
    justify-content: space-between;
    padding: 3px;

}

@media (max-width: 768px) {
    .standingsDiv{
        width: 100%;
    }

    #stats {
        width: 100%;
        padding-bottom: 100px;
    }
}