.teamsDisplay {
    width: 70%;
  
    
}

.spread {
    display: flex;
} 


.header {
    margin-top: 2%;
    font-weight: bold;
    
}

.teamDiv {
    /* border: 2px solid green; */
    margin: 10px 20px;
    
}


@media(max-width: 768px) {
    .teamsDisplay {
        margin: 0 auto;
        width: 100%;
    
    }
    
    .myContainer {
        width: 95%;
    }

    .header {
        width: 100%;
        font-size: 1.5em;
    }

    .teamDiv {
        
        width: 100%;
    }
}